<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <span>
      Goa's - Shop Online
    </span>
    <div fxLayout="row" fxLayoutGap="20px">
      <button mat-raised-button>
        <mat-icon aria-hidden="false" aria-label="Home Icon" (click)="navigateHome()">home</mat-icon>
      </button>
      <button (click)="navigateProduct()">
          product page
      </button>
      <button  (click)="navigateSummary()">
          summary page
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-progress-bar color="primary" mode="indeterminate">
</mat-progress-bar>

<div class="component-placeholder">
  <router-outlet></router-outlet>
</div>
